.section {
  &__title {
    color: var(--black);
    text-align: center;
    font-family: "Old Standard TT", serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  &__subtitle {
    color: var(--black);
    text-align: center;
    font-family: "Bickham Script Two", cursive;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
