<section>
  <div class="header">save the date</div>
  <img
    src="assets/img/1.png"
    alt=""
  />
</section>
<section>
  <div>
    <div class="header">22/07/2025</div>
    <div class="header">Устиния и александр</div>
  </div>
  <div>
    <div class="header header_cursive">Лучшее, за что нужно</div>
    <div class="header header_cursive">держаться в жизни - друг за друга.</div>
  </div>
</section>
<img
  class="img240px"
  src="assets/img/2.jpg"
  alt=""
/>
<section>
  <div>
    <div class="header header_cursive">Дорогие гости!</div>
    <p class="text mt16">Мы будем счастливы разделить с Вами радость неповторимого для нас дня - дня нашей свадьбы!</p>
    <div class="mt16 relative">
      <p class="text">Приглашаем присоединиться к нашему празднику и украсить его своим присутствием!</p>
      <img
        class="branch"
        src="assets/img/branch.svg"
        alt=""
      />
    </div>
  </div>
</section>
<section>
  <div class="header">Программа дня</div>
  <app-timing [timings]="timings" />
</section>
<section>
  <div class="header">Дресс-код</div>
  <p class="text">Мы будем признательны, если Вы поддержите цветовую гамму нашей свадьбы.</p>
  <app-dress-code />
</section>
<section>
  <div class="header">место проведения</div>
  <p class="text">
    Наша свадьба будет проходить в Эко-отеле Экоранчо. МО, <br />
    Можайский р-он, д. Алексеевка, 8.
  </p>
</section>
<img
  src="assets/img/3.png"
  alt=""
/>
<section>
  <a
    app-button
    href="#"
    (click)="openMap($event)"
    target="_blank"
  >
    посмотреть на карте
  </a>
</section>
<section>
  <p class="text">
    Пожалуйста подтвердите свое присутствие до 1.06.2025, чтобы мы могли правильно организовать мероприятие.
  </p>
  <app-button
    (click)="showDialog()"
    type="secondary"
  >
    Подтвердить
  </app-button>
</section>
<section>
  <div class="header header_cursive">
    Наши самые любимые <br />
    и оригинальные!
  </div>
  <p class="text">
    Мы ценим Ваш великолепный вкус, но очень просим, в случае, если Вы желаете сделать нам подарок, преподнести его в
    виде конверта.
  </p>
  <div class="camel">
    <img
      class="camel__img"
      src="assets/img/camel.png"
      alt=""
    />
    <img
      class="camel__branch"
      src="assets/img/branch.svg"
      alt=""
    />
    <p class="text">Мы ждем встречи с Вами на нашей свадьбе!</p>
  </div>
</section>
<section>
  <div class="header header_cursive">Координатор - Ксения</div>
  <div class="camel">
    <div class="contacts">
      <p class="text">В день мироприятия, по всем вопросам вы можете обратиться к ней</p>
      <a
        class="text"
        href="tel:+7 (916) 757-09-22"
        >Позвонить</a
      >
      <a
        class="text"
        href="https://t.me/PinkiePie04"
        >Написать в Telegram</a
      >
    </div>
    <img src="assets/img/ksusha.jpg" />
  </div>
</section>
<section>
  <div class="header header_cursive">Wedding day</div>
  <div>
    <div class="header f-size18">С ЛЮБОВЬЮ,</div>
    <div class="header">Устиния и Александр!</div>
  </div>
</section>
